<a id="skippy" class="sr-only sr-only-focusable" href="#navigation"><div class="container"><span class="skiplink-text">Skip to main menu</span></div></a>
<a id="skippy" class="sr-only sr-only-focusable" href="#page-content"><div class="container">
<span class="skiplink-text">Skip to main content</span></div></a>
<div class="container">
  {% include utils/old_browser.html %}
  {% include utils/noscript.html %}
  {% include utils/cookiewarning.html %}
</div>

<div class="container subheader">
  <a href="https://avenirencommun.fr/">
    <img src="/img/logos/l-avenir-en-commun-w400.gif" alt="logo l'Avenir en Commun" itemprop="logo" class="aec">
  </a>
</div>

<!--Navbar {{ navbarId }}-->
<nav class="navbar navbar-inverse">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span>Menu</span>
      </button>
      <div class="site-title">
        <a class="" href="/">
          <img src="/img/phi-insoumis-rouille.svg" alt="Logo Haute-Marne Insoumise">
          {{ site.title }}
        </a>
      </div>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar-collapse">
      <ul class="nav navbar-nav navbar-right"{% if navbarId == 'main' %} id="navigation"{% endif %}>
        {% assign sorted-pages = site.pages | sort: "weight" %}
        {% for p in sorted-pages %}
          {% if p.menu == "main" %}
            <li{% if p.url == page.url %} class="active"{% endif %}><a href="{{ site.baseurl }}{{ p.url }}">{{ p.title }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
</nav>
