{% if include.post %}
  {% assign p = include.post %}
{% else %}
  <p class="alert">Nothing passed to post-large include</p>
{% endif %}
<h2><a href="{{ p.url }}">{{ p.title }}</a></h2>
<p><em>
  <time datetime="{{ p.date }}">{% include _myDate.html date=p.date %}</time>
  par {{ p.author }}
</em></p>

{% if p.excerpt != p.content %}
{{ p.excerpt }}
{% else %}
<p>{{ p.content | strip_html | truncate: 100 }}</p>
{% endif %}

<p><a href="{{ site.baseurl }}.{{ p.url }}">
  lire la suite &gt;&gt;
</a></p>
