<div class="box box-socials">

  <h2>Retrouvez-nous sur le web</h2>

  <a class="btn btn-social btn-twitter" href="https://twitter.com/{{ site.twitter_username }}"><span class="hidden-xs">Twitter</span></a>&nbsp;
  <a class="btn btn-social btn-facebook" href="https://www.facebook.com/{{ site.facebook_username }}"><span class="hidden-xs">Facebook</span></a>&nbsp;
  <a class="btn btn-social btn-youtube" href="https://www.youtube.com/channel/{{ site.youtube_channel }}"><span class="hidden-xs">Youtube</span></a>

</div>
