    <div class="panel panel-success">
      <div class="panel-heading">
        <h2 class="panel-title">Retrouvez-nous sur internet</h2>
      </div>
      <div class="panel-body">
        <p><a class="btn btn-social btn-twitter" href="https://twitter.com/{{ site.twitter_username }}"><span>{{ site.twitter_username }}</span></a></p>

        <p><a class="btn btn-social btn-facebook" href="https://www.facebook.com/{{ site.facebook_username }}"><span>{{ site.facebook_username }}</span></a></p>

        <p><a class="btn btn-social btn-youtube" href="https://www.youtube.com/channel/{{ site.youtube_channel }}"><span>TV52 Insoumis.es Haute-Marne</span></a></p>

        <p><a class="btn btn-social btn-github" href="https://github.com/{{ site.github_username }}"><span>Pour les geeks et geekettes</span></a></p>

      </div>
    </div>
