<div class="row">
  <div class="col-md-4">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h2 class="panel-title">Soutenez Jean-Luc Mélenchon</h2>
      </div>
      <div class="panel-body">
        <p>Soutenez le candidat de La France Insoumise à l'élection présidentielle 2017.</p>
        <p><a class="btn btn-success" href="https://jlm2017.fr/" role="button">Site JLM2017.fr<span class="more-arrow">&rtrif;</span></a></p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h2 class="panel-title">Restez informés !</h2>
      </div>
      <div class="panel-body">
        <p>Abonnez vous à notre lettre d'actualités.</p>
        <form class="newsletter">
          <label for="inputEmail" class="sr-only">Adresse mail</label>
          <input type="email" id="inputEmail" class="form-control" placeholder="Adresse Mail" required>
          <button class="btn btn-lg btn-info" type="submit">Je m'abonne</button>
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h2 class="panel-title">Retrouvez-nous sur les réseaux sociaux</h2>
      </div>
      <div class="panel-body">
        <p><a class="btn btn-social btn-twitter" href="https://twitter.com/{{ site.twitter_username }}"><span>{{ site.twitter_username }}</span></a></p>

        <p><a class="btn btn-social btn-facebook" href="https://www.facebook.com/{{ site.facebook_username }}"><span>{{ site.facebook_username }}</span></a></p>

        <p><a class="btn btn-social btn-youtube" href="https://www.youtube.com/channel/{{ site.youtube_channel }}"><span>TV52 Insoumis.es Haute-Marne</span></a></p>
      </div>
    </div>
  </div>
</div>
