    <div class="panel panel-success">
      <div class="panel-heading">
        <h2 class="panel-title">Réseaux sociaux</h2>
      </div>
      <div class="panel-body text-center">
   <a class="btn btn-social btn-twitter" href="https://twitter.com/{{ site.twitter_username }}" title="Retrouvez {{ site.twitter_username }} sur Twitter"><span class="hidden-xs">Twitter</span></a>&nbsp;
  <a class="btn btn-social btn-facebook" href="https://www.facebook.com/{{ site.facebook_username }}" title="Retrouvez {{ site.facebook_username }} sur Facebook"><span class="hidden-xs">Facebook</span></a>&nbsp;
  <a class="btn btn-social btn-youtube" href="https://www.youtube.com/channel/{{ site.youtube_channel }}" title="Retrouvez TV52 Haute-Marne Insoumise sur Youtube"><span class="hidden-xs">Youtube</span></a>

      </div>
    </div>

