<div class="row">
  <div class="col-md-4 col-sm-6">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h2 class="panel-title">Soutenez Jean-Luc Mélenchon</h2>
      </div>
      <div class="panel-body">
        <p>Soutenez le candidat de La France Insoumise à l'élection présidentielle 2017.</p>
        <p><a class="btn btn-primary" href="https://jlm2017.fr/" role="button">Site JLM2017.fr<span class="more-arrow">&rtrif;</span></a></p>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-sm-6">
{% include subscribe-form.html %}
  </div>
  <div class="col-md-4 col-sm-12">
{% include socials.html %}
  </div>
</div>
