<div class="row"><div class="col-md-12">
<span class="label label-success visible-xs-block">visible-xs-block</span>
<span class="label label-success visible-sm-block">visible-sm-block</span>
<span class="label label-success visible-md-block">visible-md-block</span>
<span class="label label-success visible-lg-block">visible-lg-block</span>
<span class="label label-success hidden-xs">hidden-xs</span>
<span class="label label-success hidden-sm">hidden-sm</span>
<span class="label label-success hidden-md">hidden-md</span>
<span class="label label-success hidden-lg">hidden-lg</span>
</div></div>
