---
title: Blog
# menu: main
weight: 20
permalink: /blog/
---

<div class="container">

  <div class="row">
    <div class="col-sm-12">
      <h1>Blog</h1>
    </div>
  </div>

  {% assign posts = site.posts | group_by: "pinned" %}

  {% assign pinned-posts = posts | where: "name", "true" | first %}
  {% assign pinned-posts = pinned-posts["items"] %}

  {% assign posts = posts | where: "name", "false" | first %}
  {% assign posts = posts["items"] %}

  {% for pinned in pinned-posts %}
  <div class="row">
    <div class="col-sm-4">
      <figure class="thumbnail">
        <img src="{{ site.baseurl }}/{{ site.netlify.media_folder }}/{{ pinned.img }}" alt="{{ pinned.title }}" class="img-responsive">
      </figure>
    </div>
    <div class="col-sm-8">
      {% include post-large.html post=pinned %}
    </div>
  </div>
  {% endfor %}

  <div class="row">
    {% for post in posts %}
      {% assign remain = forloop.index | modulo: 3 %}
      {% if remain == 1 %}<div class="row">{% endif %}
        <div class="col-sm-4">
          <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
          <p><em><time datetime="{{ p.date }}">{% include _myDate.html date=p.date %}</time> par {{ p.author }}</em></p>
          {% if post.excerpt != post.content %}
          {{ post.excerpt | strip_html }}
          {% else %}
          <p>{{ post.content | strip_html | truncate: 100 }}</p>
          {% endif %}
          <p><a href="{{ site.baseurl }}.{{ post.url }}">
            lire la suite &gt;&gt;
          </a></p>
        </div>
      {% if remain == 0 or forloop.last %}</div>{% endif %}
    {% endfor %}
  </div>

  {% include social-row.html %}
</div>
