---
title: Accueil
menu: main
weight: 10
permalink: /
---
{% comment %}{% include utils/responsive-classes.html %}{% endcomment %}

    <div class="container">
      <div class="row">
        <div class="col-sm-8">
          <figure class="thumbnail presentor">
            <img src="/img/news/insoumis-bologne.jpg" alt="Haute-Marne Insoumise" class="img-responsive">
            <div class="caption">
              <h2>Nous sommes <br class="visible-sm-block">la Haute-Marne Insoumise&nbsp;!</h2>
              <h2>Rejoignez-nous&nbsp;!</h2>
            </div>
          </figure>
        </div>
        <div class="col-sm-4">
          {% include subscribe-form-box.html %}
        </div>
        <div class="col-sm-4">
          {% include socials-box.html %}
        </div>
      </div>

      <div class="row">
        <div class="col-sm-8">

          <figure class="thumbnail ">
            <div class="caption">
              <h2><span class="small">Notre programme : </span><br>L'avenir en Commun</h2>
            </div>
            <img src="/img/l-avenir-en-commun-w600.jpg" alt="L'Avenir en Commun, le programme de la France Insoumise" class="img-responsive">
            <div class="caption">
              <p>L'avenir en commun est le programme construit et défendus par le France Insoumise.</p>
              <p>Ce programme est le fruit d'une élaboration collective animée par Charlotte Girard, juriste, et Jacques Généreux, économiste. La démarche a commencé le 10 février 2016 dès la proposition de candidature de Jean-Luc Mélenchon pour l'élection présidentielle de 2017.</p>

              <p><a class="btn btn-primary" href="https://avenirencommun.fr/" role="button">Site de l'Avenir en commun <span class="more-arrow">&rtrif;</span></a></p>
            </div>
          </figure>
        </div>

        <div class="col-sm-4">
          {% include agenda.html %}
        </div>

        <div class="col-sm-4">
          <div class="box box-blog">
            <div class="caption">
              <h2>Actualités Insoumise</h2>
            </div>
            <ul class="list-unstyled">
            {% for post in site.posts %}
              {% if post.categories contains "agenda"  %}
              {% comment %}Do nothing{% endcomment %}
              {% else %}
               <li>{{ post.date |date: "%d/%m" }} - <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
              {% endif %}
            {% endfor %}
            </ul>
            <p class="text-right"><a class="btn" href="{{ site.baseurl }}/blog/">Voir toute l'actualité &gt;</a></p>
          </div>
        </div>

      </div>

      <div class="row">
        <div class="col-md-12">
          <figure class="thumbnail ">
            <div class="caption">
              <h2>Nos Candidats pour les législatives 2017</h2>
            </div>
            <img src="/img/candidats/candidats-52-all_w1400.jpg" alt="Ariane Walasek et Daniel Monnier - Candidats Insoumis aux législatives 2017 pour les 1ère et 2ème circonscriptions de Haute-Marne" class="img-responsive">
            <div class="caption">
              <p>Faites connaissance avec nos candidats aux élections législatives 2017.</p>

              <p>
                <a class="btn btn-primary" href="{{ site.baseurl }}/candidats-legislatives-huate-marne/1ere-circonscription/" role="button">1ère circonscription : Ariane WALASZEK - Benjamin MOREL <span class="more-arrow">&rtrif;</span></a>
                <a class="btn btn-primary" href="{{ site.baseurl }}/candidats-legislatives-huate-marne/2eme-circonscription/" role="button">2ème circonscription : Daniel MONNIER - Elisabeth BECKER <span class="more-arrow">&rtrif;</span></a>

              </p>
            </div>
          </figure>
        </div>
      </div>
    </div>
