<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body id="top">

    {% include header.html %}
{% comment %}{% include utils/responsive-classes.html %}{% endcomment %}
    <main class="page-content" id="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    <div class="container">
      <p class="text-right"><a class="btn btn-primary btn-sm" href="#top">&uArr; Haut de page &uArr;</a></p>
    </div>

    {% include footer.html %}
    <script src="{{ site.baseurl }}/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="{{site.baseurl}}/bower_components/jquery.cookie/jquery.cookie.js"></script>
    <script src="{{ site.baseurl }}/bower_components/bootstrap-sass/assets/javascripts/bootstrap.min.js"></script>
    <script src="{{ site.baseurl }}/js/script.js"></script>
  </body>
<!-- generation date : {{ site.time | date_to_rfc822}} -->
</html>
